<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -هتل تفریحی نفس</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="container-fluid colorbody">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("هتل تفریحی نفس", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="yellowcoloertext">@Html.ActionLink("خانه", "Index", "Home")</li>
                    <li class="nav-item dropdown ml-auto ">
                        <a class="nav-link dropdown-toggle yellowcoloertext" data-toggle="dropdown">امکانات</a>
                        <div class="dropdown-menu" \>
                            <ul>
                                <li class="dropdown-item yellowcoloertext">@Html.ActionLink("کافی شاپ", "Index", "CoffeeShops")</li>
                                <li class="dropdown-item yellowcoloertext">@Html.ActionLink("سالن ماساژ", "Index", "Massagesalons")</li>
                                <li class="dropdown-item yellowcoloertext">@Html.ActionLink("دیسکو", "Index", "Discoes")</li>
                                <li class="dropdown-item yellowcoloertext">@Html.ActionLink("باشگاه بدن سازی", "Index", "Bodybuildingclubs")</li>
                            </ul>
                        </div>
                    </li>
                    <li class="yellowcoloertext">@Html.ActionLink("اعضا", "Contact", "Home")</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="align-center center-block row">
        <img style="background-image:url(/images/slider-2.jpg)" width="1311" height="500" />
    </div>
  

    <div class=" col-md-12  colorbody">
        @RenderBody()
    </div>
    <div class="  col-md-12">
        @RenderPage("~/Views/Home/About.cshtml")

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <center>
                    <h2 class="heading ">

                        <span class="yellowcoloertext">

                            امکانات  هتل نفس
                        </span>

                    </h2>
                </center>


                <div class="col-md-12">
                    <div class="col-md-3">
                        <a href="@Url.Action("Sonati", "CoffeeShops")">
                            <img src="~/images/sonati.jpg" height="300" width="310">
                            <center>
                                <h3 class="yellowcoloertext">رستوان سنتی</h3>
                            </center>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("Modern", "CoffeeShops")">
                            <img src="~/images/modern.jpg" height="300" width="310">
                            <center>
                                <h3 class="yellowcoloertext">رستوران مدرن</h3>
                            </center>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="@Url.Action("bodyman", "Bodybuildingclubs")">
                            <img src="~/images/body.jpg" height="300" width="310">
                            <center>
                                <h3 class="yellowcoloertext">باشگاه بدن سازی اقایان</h3>
                            </center>
                         </a>   
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("bodywoman", "Bodybuildingclubs")">
                            <img src="~/images/body1.jpg" height="300" width="310">
                            <center>
                                <h3 class="yellowcoloertext">باشگاه بدن سازی بانوان</h3>
                            </center>
                       </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <a href="@Url.Action("Disconight", "Discoes")">
                            <center>
                                <h3 class="yellowcoloertext">دیسکو Night</h3>
                            </center>
                            <img src="~/images/diconigth.jpg" height="300" width="310">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("Discoday", "Discoes")">
                            <center>
                                <h3 class="yellowcoloertext">دسکو Day</h3>
                            </center>
                            <img src="~/images/dicoday.jpg" height="300" width="310">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("ManSalon", "Massagesalons")">
                            <center>
                                <h3 class="yellowcoloertext">سالن ماساژ آقایان</h3>
                            </center>
                            <img src="~/images/masman.jpg" height="300" width="310">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("WomanSalon", "MassagesalonsController")">
                            <center>
                                <h3 class="yellowcoloertext">سالن ماساژ بانوان</h3>
                            </center>
                            <img src="~/images/maswoman.jpg" height="300" width="310">
                        </a>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <center>
                    <h2 class="yellowcoloertext">گالری تصاویر</h2>
                </center>
            </div>
            <div>
                <img src="~/images/int1.jpg" height="240" width="261">
                <img src="~/images/int2.jpg" height="240" width="261">
                <img src="~/images/int3.jpg" height="240" width="261">
                <img src="~/images/about.jpg" height="240" width="261">
                <img src="~/images/int5.jpg" height="240" width="231">


            </div>
        </div>
    </div>
    <footer class="col-md-12">
        <div class="row" style="background-color:#363636">
            <!-- .col-md-4 close -->
            <div class="col-md-6 yellowcoloertext" style="float:right;">

                <div class="block wow fadeInLeft animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInLeft;">
                    <h3> تماس با ما</h3><hr>
                    <div class="info">


                        <h4><i class="fa fa-map-marker"></i>     ایران-خلیج فارس-جزیره کیش-مجموعه گردشگری و هتل دریایی نفس</h4>
                        <h4>
                            <i class="fa fa-phone"></i> 07644474114-8
                        </h4>
                        <h4>
                            <i class="fa fa-phone"></i>
                            09226323605
                        </h4>
                        <h4><i class="fa fa-envelope"></i>hoseingolmohammadi193@yahoo.com</h4>
                    </div>
                </div>
            </div>
            <!-- .col-md-6 close -->
            <div class="row col-md-6 yellowcoloertext " id="#footercol-md-12">
                <div>
                    <h3>معرفي ما</h3><hr>
                    <p>براي آشنايي بيشتر با تنها هتل حامی محیط زیست کشور هر يک از بخشهاي اين مجموعه اقامتي و پذيرايي را بطور اجمال معرفي ميکنيم</p>
                </div><hr>
                <div>
                    <div class="col-md-12">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                        <a href="#"><i class="fa fa-paper-plane-o"></i></a>

                    </div>
                    <div class="col-md-12">

                        <hr>
                        <p>&copy; @DateTime.Now.Year - تمام حقوق قانونی این سایت مربوط به حسین گل محمدی است.</p>&nbsp;
                        <p class="bani">
                            طراح سایت حسین گل محمدی
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
