@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="row nav navbar-nav navbar-left  yellowcoloertext">
       
        <form method="post" action="@Url.Action("LogOff", "Account")">
            <div class="navbar-collapse nav navbar-nav collapse">
             
                    <a class="nav-link dropdown-toggle   coloertext" data-toggle="dropdown">رزرو های: </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li class="dropdown-item yellowcoloertext">@Html.ActionLink("کافی شاپ", "Details", "CoffeeShops")</li>
                            <li class="dropdown-item yellowcoloertext">@Html.ActionLink("سالن ماساژ", "Details", "Massagesalons")</li>
                            <li class="dropdown-item yellowcoloertext">@Html.ActionLink("دیسکو", "Details", "Discoes")</li>
                            <li class="dropdown-item yellowcoloertext">@Html.ActionLink("باشگاه بدن سازی", "Details", "Bodybuildingclubs")</li>
                        </ul>
                    </div>
                    @User.Identity.GetUserName()

                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-sm btn-warning navbar-btn">
                        <span class="fa fa-power-off "></span>
                        خروج
                    </button>
                
            </div>

        </form>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("ثبت نام", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}