@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="nav navbar-nav navbar-left yellowcoloertext">
       
        <form method="post" action="@Url.Action("LogOff", "Account")">
            @User.Identity.GetUserName()
            @User.Identity.GetUserId();
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-warning navbar-btn">
                <span class="fa fa-power-off "></span>
                خروج
            </button>
        </form>
        
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("ثبت نام", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}