@model Managerhotel.Models.RegisterViewModel
@{
    ViewBag.Title = "عضویت در سایت";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<div >
            @RenderPage("~/Views/Home/About.cshtml")

        </div>*@
    <div class="row col-md-12">
        <center> <h4 class="yellowcoloertext col-md-6">  @ViewBag.Title</h4> </center>
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group ">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label yellowcoloertext" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label yellowcoloertext" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label yellowcoloertext" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label yellowcoloertext" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(m => m.Family, new { @class = "col-md-2 control-label yellowcoloertext" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Family, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="ثبت نام" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
