@model Managerhotel.Models.Massagesalon

@{
    ViewBag.Title = "مشخصات رزرو شما";
}


<div>
    <center>
        <h4 class="yellowcoloertext">@ViewBag.Title</h4>
    </center>
    <dl class="form-horizontal col-md-6">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationNumberCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationNumberCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendancedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendancedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendancetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendancetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" id="btnn">
                @Html.ActionLink("بازگشت", "Index", "Massagesalons", new { @type = "submit" })
            </button>

        </div>
    </div>
</div>

