@model Managerhotel.Models.Bodybuildingclub

@{
    ViewBag.Title = "باشگاه بدن سازی";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanWoman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanWoman)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanMan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanMan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BodybuildingclubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
